interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":["+91
        (40) 66944043"],"displayName":"Khushi Shah","givenName":"Khushi","jobTitle":"Software
        Engineer","mail":"test@example.com","mobilePhone":null,"officeLocation":"HYD-PHOENIX-CENTAURUS/Mobile","preferredLanguage":null,"surname":"Shah","userPrincipalName":"test@example.com","id":"3654bcc5-40c7-48ca-9fd6-da189aa1b7e4"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Central India","Slice":"E","Ring":"3","ScaleUnit":"000","RoleInstance":"PN1PEPF00007A98"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003?api-version=2024-11-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/capp-kv-000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [], "enableSoftDelete":
      true, "softDeleteRetentionInDays": 90, "enableRbacAuthorization": true, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003","name":"capp-kv-000003","type":"Microsoft.KeyVault/vaults","location":"eastus","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-10-08T10:49:18.002Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-10-08T10:49:18.002Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[],"enabledForDeployment":false,"enabledForDiskEncryption":false,"enabledForTemplateDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":true,"vaultUri":"https://capp-kv-000003.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%273654bcc5-40c7-48ca-9fd6-da189aa1b7e4%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Central India","Slice":"E","Ring":"3","ScaleUnit":"001","RoleInstance":"PN3PEPF000002A8"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["3654bcc5-40c7-48ca-9fd6-da189aa1b7e4"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.user","id":"3654bcc5-40c7-48ca-9fd6-da189aa1b7e4","businessPhones":["+91
        (40) 66944043"],"displayName":"Khushi Shah","givenName":"Khushi","jobTitle":"Software
        Engineer","mail":"test@example.com","mobilePhone":null,"officeLocation":"HYD-PHOENIX-CENTAURUS/Mobile","preferredLanguage":null,"surname":"Shah","userPrincipalName":"test@example.com"}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Central India","Slice":"E","Ring":"3","ScaleUnit":"001","RoleInstance":"PN3PEPF000002BF"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Key%20Vault%20Administrator%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Key Vault Administrator","type":"BuiltInRole","description":"Perform
        all data plane operations on a key vault and all objects in it, including
        certificates, keys, and secrets. Cannot manage key vault resources or manage
        role assignments. Only works for key vaults that use the ''Azure role-based
        access control'' permission model.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Authorization/*/read","Microsoft.Insights/alertRules/*","Microsoft.Resources/deployments/*","Microsoft.Resources/subscriptions/resourceGroups/read","Microsoft.Support/*","Microsoft.KeyVault/checkNameAvailability/read","Microsoft.KeyVault/deletedVaults/read","Microsoft.KeyVault/locations/*/read","Microsoft.KeyVault/vaults/*/read","Microsoft.KeyVault/operations/read"],"notActions":[],"dataActions":["Microsoft.KeyVault/vaults/*"],"notDataActions":[]}],"createdOn":"2020-05-19T17:52:46.2349235Z","updatedOn":"2021-11-11T20:14:30.2542755Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483","type":"Microsoft.Authorization/roleDefinitions","name":"00482a5a-887f-4fb3-b363-3b7fe8e74483"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483",
      "principalId": "3654bcc5-40c7-48ca-9fd6-da189aa1b7e4", "principalType": "User"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001?api-version=2022-04-01
  response:
    body:
      string: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/00482a5a-887f-4fb3-b363-3b7fe8e74483","principalId":"3654bcc5-40c7-48ca-9fd6-da189aa1b7e4","principalType":"User","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003","condition":null,"conditionVersion":null,"createdOn":"2025-10-08T10:50:05.7481714Z","updatedOn":"2025-10-08T10:50:06.1311693Z","createdBy":null,"updatedBy":"3654bcc5-40c7-48ca-9fd6-da189aa1b7e4","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003/providers/Microsoft.Authorization/roleAssignments/88888888-0000-0000-0000-000000000001","type":"Microsoft.Authorization/roleAssignments","name":"88888888-0000-0000-0000-000000000001"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '800'
      x-ms-throttling-version:
      - v2
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/create?api-version=7.4
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"policy": {"key_props": {"exportable": true, "kty": "RSA", "key_size":
      2048, "reuse_key": true}, "secret_props": {"contentType": "application/x-pem-file"},
      "x509_props": {"subject": "CN=*.contoso.com", "sans": {}, "key_usage": ["cRLSign",
      "dataEncipherment", "digitalSignature", "keyEncipherment", "keyAgreement", "keyCertSign"],
      "validity_months": 12}, "lifetime_actions": [{"trigger": {"days_before_expiry":
      90}, "action": {"action_type": "AutoRenew"}}], "issuer": {"name": "Self"}},
      "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/create?api-version=7.4
  response:
    body:
      string: '{"id":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending","issuer":{"name":"Self"},"csr":"MIICqDCCAZACAQAwGDEWMBQGA1UEAwwNKi5jb250b3NvLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALuKFtBlMdMpZkXayRUMSKVvzgEXl7sBUsUzYtT7I4jqZRAYEgt5VggYLsSMXXPwRbbeLLhEhpARWoj/7YqO+1RgW84B5XT3I2Ed8hQKuKZ63mlyYCBV7KrTO+3lOoIR+wmvlUGYTEBdW9qlpR485HHYV7DI/AsbIJq3FqdaOW2tvBeJcZ7SbqVSbBipjhMouZ0mm+OnqEWEPwkuOKFxqHXtVV8CmvGQ4orf0R8WF3sVMQnG8kJrixTO2VowiHlREZCzdyWf8/x46HzNpYQMGGcSBETVucJwpTF6nVRLTuZPaeHUOWyN+viayX5Us3e2AMXs/sZvsrRTi4zRrCfzhJkCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCew7sKStz4esr6EWb9W/AAPhShqgPGcuMIG15zbFYXXdonpIrXDiBWlviKrlwX5f6eJ/R4AktaoPuMMxwjlsAhzDoDRWJDYme5hTpyrPYJ1H1cqidfw4hbcnAg4/9i+KhJQOEHyxiQCEtQkkQ9AvpCJz+bjhs/5Jinrg6sffRLCAmqhOxKwck37ks2ZP5gmMTvqxEn3S+FAk0dCyJr2Yo/FsOMgIHBitDKxdOE/C23MfXRVPhTe9e/bHWS58sm17d2s9mWyf1jshcAffasfVf6qrFdQv9fX/BO8DmYJzHjMeS1UOTNJpCFd8JyJn/IXniOtuwnTva1X0EH25bUQj4u","cancellation_requested":false,"status":"inProgress","status_details":"Pending
        certificate created. Certificate request is in progress. This may take some
        time based on the issuer provider. Please check again later.","request_id":"275289161d0b475389a506337f0d34dc"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending?api-version=7.4&request_id=275289161d0b475389a506337f0d34dc
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending?api-version=7.4
  response:
    body:
      string: '{"id":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending","issuer":{"name":"Self"},"csr":"MIICqDCCAZACAQAwGDEWMBQGA1UEAwwNKi5jb250b3NvLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALuKFtBlMdMpZkXayRUMSKVvzgEXl7sBUsUzYtT7I4jqZRAYEgt5VggYLsSMXXPwRbbeLLhEhpARWoj/7YqO+1RgW84B5XT3I2Ed8hQKuKZ63mlyYCBV7KrTO+3lOoIR+wmvlUGYTEBdW9qlpR485HHYV7DI/AsbIJq3FqdaOW2tvBeJcZ7SbqVSbBipjhMouZ0mm+OnqEWEPwkuOKFxqHXtVV8CmvGQ4orf0R8WF3sVMQnG8kJrixTO2VowiHlREZCzdyWf8/x46HzNpYQMGGcSBETVucJwpTF6nVRLTuZPaeHUOWyN+viayX5Us3e2AMXs/sZvsrRTi4zRrCfzhJkCAwEAAaBLMEkGCSqGSIb3DQEJDjE8MDowDgYDVR0PAQH/BAQDAgG+MB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAJBgNVHRMEAjAAMA0GCSqGSIb3DQEBCwUAA4IBAQCew7sKStz4esr6EWb9W/AAPhShqgPGcuMIG15zbFYXXdonpIrXDiBWlviKrlwX5f6eJ/R4AktaoPuMMxwjlsAhzDoDRWJDYme5hTpyrPYJ1H1cqidfw4hbcnAg4/9i+KhJQOEHyxiQCEtQkkQ9AvpCJz+bjhs/5Jinrg6sffRLCAmqhOxKwck37ks2ZP5gmMTvqxEn3S+FAk0dCyJr2Yo/FsOMgIHBitDKxdOE/C23MfXRVPhTe9e/bHWS58sm17d2s9mWyf1jshcAffasfVf6qrFdQv9fX/BO8DmYJzHjMeS1UOTNJpCFd8JyJn/IXniOtuwnTva1X0EH25bUQj4u","cancellation_requested":false,"status":"completed","target":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004","request_id":"275289161d0b475389a506337f0d34dc"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/?api-version=7.4
  response:
    body:
      string: '{"id":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/9046fc1916cf4f218df6d0fe3a34688f","kid":"https://capp-kv-000003.vault.azure.net/keys/akv-cert-000004/9046fc1916cf4f218df6d0fe3a34688f","sid":"https://capp-kv-000003.vault.azure.net/secrets/akv-cert-000004/9046fc1916cf4f218df6d0fe3a34688f","x5t":"vjKy0rllwDWA252OpRvzPPC5PRc","cer":"MIIDNjCCAh6gAwIBAgIQST8tTvRDQVm1LOFcxXhOMDANBgkqhkiG9w0BAQsFADAYMRYwFAYDVQQDDA0qLmNvbnRvc28uY29tMB4XDTI1MTAwODEwNDAzOFoXDTI2MTAwODEwNTAzOFowGDEWMBQGA1UEAwwNKi5jb250b3NvLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALuKFtBlMdMpZkXayRUMSKVvzgEXl7sBUsUzYtT7I4jqZRAYEgt5VggYLsSMXXPwRbbeLLhEhpARWoj/7YqO+1RgW84B5XT3I2Ed8hQKuKZ63mlyYCBV7KrTO+3lOoIR+wmvlUGYTEBdW9qlpR485HHYV7DI/AsbIJq3FqdaOW2tvBeJcZ7SbqVSbBipjhMouZ0mm+OnqEWEPwkuOKFxqHXtVV8CmvGQ4orf0R8WF3sVMQnG8kJrixTO2VowiHlREZCzdyWf8/x46HzNpYQMGGcSBETVucJwpTF6nVRLTuZPaeHUOWyN+viayX5Us3e2AMXs/sZvsrRTi4zRrCfzhJkCAwEAAaN8MHowDgYDVR0PAQH/BAQDAgG+MAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMB8GA1UdIwQYMBaAFFStwXPfRmnJevMeWpvHTw2ZfbzGMB0GA1UdDgQWBBRUrcFz30ZpyXrzHlqbx08NmX28xjANBgkqhkiG9w0BAQsFAAOCAQEAoz2a9KkXzv/YkTCtwKoTNMMcEs9Jcl/nJTDbvScrmjZ/69NMHBQj1YJ0RJYJSLJByiZzmoUS2QbRXTcvThNPq0Jg0Z81ItRlPd+5ADKCO+XSAxZM9IMDS3j0el6eJ+qi1srtcqHmFRkS5hCAXvMn6jffKmR58uMmi+1U1697KEMbxE4AMEdN9i5sTHNcGIrV2+7R01vBEMDxn7X5ybwcoc/AOMpYFrUA0nLtLSN8fgJhHURlmVH+gAeIutx2VdPLtpWSZj25yOaBlTbMWZoGSQyNzhp2SKOe3BnTLLLFLa26njgvt/qGzWf8ZEaCq0sfHC9KSa+vW7iDdtKP2mhO6w==","attributes":{"enabled":true,"nbf":1759920038,"exp":1791456638,"created":1759920638,"updated":1759920638,"recoveryLevel":"Recoverable+Purgeable","recoverableDays":90},"policy":{"id":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/policy","key_props":{"exportable":true,"kty":"RSA","key_size":2048,"reuse_key":true},"secret_props":{"contentType":"application/x-pem-file"},"x509_props":{"subject":"CN=*.contoso.com","sans":{},"ekus":["1.3.6.1.5.5.7.3.1","1.3.6.1.5.5.7.3.2"],"key_usage":["cRLSign","dataEncipherment","digitalSignature","keyAgreement","keyCertSign","keyEncipherment"],"validity_months":12,"basic_constraints":{"ca":false}},"lifetime_actions":[{"trigger":{"days_before_expiry":90},"action":{"action_type":"AutoRenew"}}],"issuer":{"name":"Self"},"attributes":{"enabled":true,"created":1759920637,"updated":1759920637}},"pending":{"id":"https://capp-kv-000003.vault.azure.net/certificates/akv-cert-000004/pending"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"59f0a04a-b322-4310-adc9-39ac41e9631e","roleDefinitionId":"be29d5e9-f2ee-4c50-bf95-71cec72c205f"},{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"},{"applicationId":"1459b1f6-7a5b-4300-93a2-44b4a651759f","roleDefinitionId":"3c5f1b29-9e3d-4a22-b5d6-9ff4e5a37974"},{"applicationId":"2c7dd73f-7a21-485b-b97d-a2508fa152c3","roleDefinitionId":"8a9982ae-66df-4135-b8da-2655633c4a4c"},{"applicationId":"6104ad52-755e-428b-9fb5-5fdf4d2c4d53","roleDefinitionId":"472cfb56-379d-4465-84ff-17404641b16c"},{"applicationId":"409eb69a-5e20-4e1e-a8bf-c23300057950","roleDefinitionId":"e211c432-0a34-4b73-9303-2a489c814a1d"}],"resourceTypes":[{"resourceType":"spaces","locations":["Central
        US","East Asia","West Europe","East US 2 EUAP"],"apiVersions":["2023-11-02-preview"],"defaultApiVersion":"2023-11-02-preview","capabilities":"SupportsTags,
        SupportsLocation"},{"resourceType":"operations","locations":["East Asia","North
        Central US","West Europe"],"apiVersions":["2025-07-01","2025-02-02-preview","2025-01-01","2024-10-02-preview","2024-08-02-preview","2024-03-01","2024-02-02-preview","2023-11-02-preview","2023-08-01-preview","2023-05-02-preview","2023-05-01","2023-04-01-preview","2023-02-01","2022-11-01-preview","2022-10-01","2022-06-01-preview","2022-03-01"],"defaultApiVersion":"2025-02-02-preview","cap[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/capp-env000002?api-version=2025-02-02-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.App/managedEnvironments/capp-env000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "tags": null, "properties": {"daprAIInstrumentationKey":
      null, "vnetConfiguration": null, "appLogsConfiguration": {"destination": null,
      "logAnalyticsConfiguration": null}, "customDomainConfiguration": null, "workloadProfiles":
      [{"workloadProfileType": "Consumption", "Name": "Consumption"}], "zoneRedundant":
      false}, "identity": {"type": "SystemAssigned", "userAssignedIdentities": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/capp-env000002?api-version=2025-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/capp-env000002","name":"capp-env000002","type":"Microsoft.App/managedEnvironments","location":"East
        US","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-10-08T10:50:54.5790511","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-10-08T10:50:54.5790511"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"thankfulmushroom-00fd3aa0.eastus.azurecontainerapps.io","staticIp":"9.169.14.46","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"openTelemetryConfiguration":null,"zoneRedundant":false,"availabilityZones":null,"kedaConfiguration":{"version":"2.17.2"},"daprConfiguration":{"version":"1.13.6-msft.6"},"ingressConfiguration":null,"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/capp-env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"FE6A6A149A36B29FC8EBC91FBF42E07493AC7243675310C0EF2A960D2E6724C4","dnsSuffix":null,"certificateKeyVaultProperties":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"Consumption","name":"Consumption","enableFips":false}],"appInsightsConfiguration":null,"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}},"publicNetworkAccess":"Enabled","diskEncryptionConfiguration":null},"identity":{"type":"SystemAssigned","principalId":"247e0fdb-87ae-45e7-b9f7-21b3cba09c82"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
        2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview,
        2024-03-01, 2024-08-02-preview, 2024-10-02-preview, 2025-01-01, 2025-02-02-preview,
        2025-07-01, 2025-10-02-preview
      azure-asyncoperation:
      - https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/f2348c97-cf33-4526-b146-8a99ddd53ac0?api-version=2025-02-02-preview&azureAsyncOperation=true&t=638955174630635501&c=MIIIpTCCBo2gAwIBAgITFgGu4p87zdtEnAmRzQABAa7inzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUwNzIwMTgxMjU5WhcNMjYwMTE2MTgxMjU5WjBAMT4wP[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/f2348c97-cf33-4526-b146-8a99ddd53ac0?api-version=2025-02-02-preview&azureAsyncOperation=true&t=638955174630635501&c=MIIIpTCCBo2gAwIBAgITFgGu4p87zdtEnAmRzQABAa7inzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0[...]
[...]
- request:
    body: '{"ids": ["247e0fdb-87ae-45e7-b9f7-21b3cba09c82"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.servicePrincipal","id":"247e0fdb-87ae-45e7-b9f7-21b3cba09c82","deletedDateTime":null,"accountEnabled":true,"alternativeNames":["isExplicit=False","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/capp-env000002"],"appDisplayName":null,"appDescription":null,"appId":"5f1e525f-5fea-4db6-91f1-d6a6214ec564","applicationTemplateId":null,"appOwnerOrganizationId":null,"appRoleAssignmentRequired":false,"createdDateTime":"2025-10-08T10:50:55Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"capp-env000002","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["5f1e525f-5fea-4db6-91f1-d6a6214ec564","https://identity.azure.net/iHA+/DOiGgBX7OlruKiSwcLa+5dIXptMVkyL+pVBBZI="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null,"info":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"keyCredentials":[{"customKeyIdentifier":"CF8F0EF7A5B404770BAFFCA2ECD80B8EDE400C19","displayName":"CN=5f1e525f-5fea-4db6-91f1-d6a6214ec564","endDateTime":"2026-01-06T10:45:00Z","key":null,"keyId":"7fa98943-abe5-4530-85b3-13dd72d31735","startDateTime":"2025-10-08T10:45:00Z","type":"AsymmetricX509Cert","usage":"Verify"}],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Central India","Slice":"E","Ring":"3","ScaleUnit":"000","RoleInstance":"PN1PEPF0000E648"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.KeyVault/vaults/capp-kv-000003/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Key%20Vault%20Secrets%20User%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Key Vault Secrets User","type":"BuiltInRole","description":"Read
        secret contents. Only works for key vaults that use the ''Azure role-based
        access control'' permission model.","assignableScopes":["/"],"permissions":[{"actions":[],"notActions":[],"dataActions":["Microsoft.KeyVault/vaults/secrets/getSecret/action","Microsoft.KeyVault/vaults/secrets/readMetadata/action"],"notDataActions":[]}],"createdOn":"2020-05-19T17:52:47.2049241Z","updatedOn":"2021-11-11T20:14:30.9542829Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/4633458b-17de-408a-b874-0445c86b69e6","type":"Microsoft.Authorization/roleDefinitions","name":"4633458b-17de-408a-b874-0445c86b69e6"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "containerapp-cert000005", "type": "Microsoft.App/managedEnvironments/certificates"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/capp-env000002/checkNameAvailability?api-version=2025-02-02-preview
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"password": null, "value": null,
      "certificateKeyVaultProperties": {"keyVaultUrl": "https://capp-kv-000003.vault.azure.net/secrets/akv-cert-000004",
      "identity": "system"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://brazilus.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/capp-env000002/certificates/containerapp-cert000005?api-version=2025-02-02-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/capp-env000002/certificates/containerapp-cert000005","name":"containerapp-cert000005","type":"Microsoft.App/managedEnvironments/certificates","location":"eastus","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-10-08T10:53:23.1094664Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-10-08T10:53:23.1094664Z"},"properties":{"certificateKeyVaultProperties":{"keyVaultUrl":"https://capp-kv-000003.vault.azure.net/secrets/akv-cert-000004","identity":"system"},"subjectName":"CN=*.contoso.com","subjectAlternativeNames":[],"issuer":"CN=*.contoso.com","issueDate":"2025-10-08T10:40:38Z","expirationDate":"2026-10-08T10:50:38Z","thumbprint":"BE32B2D2B965C03580DB9D8EA51BF33CF0B93D17","valid":true,"publicKeyHash":"OQjEyuTnUoGLEjE6CGbJw53ODW3lm+17GRa38+jZaAs=","provisioningState":"Succeeded","certificateType":"ServerSSLCertificate"}}'
    headers:
      api-supported-versions:
      - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview,
[...]
